<div class="form-group">
    <label><strong>关键字：（* 使用空格分隔）</strong></label>
    <div js-checkedKeyword style="display:none">
    </div>

    <span js-checkedKeywordId style="display:none"></span>

    <div class="input-group">
        <div class="btn-group nav-item dropdown">
            <button type="button" class="btn btn-outline-dark btn-default">--- 1级 ---</button>
            <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only"></span>
            </button>
            <div js-fristKeyword class="dropdown-menu">
                <a class="dropdown-item" title="已被使用次数 99" id="41">编程开发语言</a>
                <a class="dropdown-item" title="已被使用次数 99" id="42">工具软件</a>
                <a class="dropdown-item" title="已被使用次数 99" id="43">顾问咨询 </a>
                <a class="dropdown-item" title="已被使用次数 99" id="44">操作系统 </a>
            </div>
        </div>
        <div class="btn-group nav-item dropdown">
            <button type="button" class="btn btn-outline-dark btn-default">--- 2级 ---</button>
            <button js-keywordReminder type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="modal" data-target="#exampleModal"></button>
            <button js-secendKeywordButton type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" style="display:none">
                <span class="sr-only"></span>
            </button>
            <div js-secendKeyword class="dropdown-menu">
            </div>
        </div>
        @Html.TextBox("customKeyword", "", new { @class = "form-control", js_SelfDefind = "", placeholder = "自定义关键字，使用空格分隔" })
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-info-circle"></i> 友情提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fa fa-info-circle"></i>还没有选择 --- 1级 --- 关键字呢。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>