@{
    Layout = null;
}
<style>
    .blue {
        background-color: aqua;
    }
</style>
<div>
    <table js-adTableDate class="table">
        <thead>
            <tr>
                <th><input type="checkbox" class="checkbox" js-selectAll=""></th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
                <th>六</th>
                <th>天</th>
            </tr>
        </thead>
        <tbody>
            @{ int dayPlus = 0; }
            @for (int i = 0; i < 5; i++)
            {
                <tr js-row>
                    <td><input type="checkbox" class="checkbox" js-selectRow=""></td>
                    @for (int j = 0; j < 7; j++)
                    {
                        if (i == 0)
                        {
                            if (j < (int)DateTime.Now.DayOfWeek)
                            {
                                <td js-none></td>
                                continue;
                            }
                        }//else nothing;

                        dayPlus++;
                        <td js-date data-fullDate="@DateTime.Now.AddDays(dayPlus).ToString("yyyy/MM/dd/")">@DateTime.Now.AddDays(dayPlus).ToString("MM月dd日")</td>
                        if (dayPlus == 28)
                        {
                            break;
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <span style="display:none" js-allSelectDate></span>
    <script>
        $('[js-selectAll]').click(function () {
            $('td[js-date]').toggleClass('blue');
        });

        $('[js-selectRow]').click(function () {
            $(this).parent().siblings().parent().find('td[js-date]').toggleClass('blue');
        });

        $('[js-date]').click(function () {
            var $this = $(this),
            //    $allDate = $('[js-allSelectDate]'),
            //    date = $this.attr('data-fullDate'),
            //    allSelectDate = $allDate.text();

            //$allDate.text(allSelectDate + date + ',');

            $this.toggleClass('blue');
        });

    </script>
</div>