
@if (NoticeModel.ShowNotice)
{
    <div class="alert alert-secondary justify-content-lg-between">
        <h1><i class="fa fa-warning"></i>系统通知</h1>
        <p><label><a href="/CloseNotice"><i class="fa fa-window-restore"></i></a></label>模拟演示</p>
        <p>Message here</p>
    </div>
}