@using Entity
@model IList<Notice>


@{
    bool fristEnter = !string.IsNullOrEmpty(Context.Request.Cookies[Const.NOTICE_HASREAD]);
    if (!fristEnter)
    {
        Context.Response.Cookies.Append(Const.NOTICE_HASREAD, "0");
    }
}

@if (!fristEnter)
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="alert alert-secondary justify-content-lg-between">
            <h1><i class="fa fa-warning"></i>系统通知</h1>
            <p><label><a href="/CloseNotice?Id=@Model[i].Id"><i class="fa fa-window-restore"></i></a></label>@Model[i].Title</p>
            <p>Message here</p>
        </div>
    }
}
else
{
    string strhasMarkRead = Context.Request.Cookies[Const.NOTICE_HASREAD];

    for (int i = 0; i < Model.Count; i++)
    {
        if (!strhasMarkRead.Contains(Model[i].Id.ToString()))
        {
            <div class="alert alert-secondary justify-content-lg-between">
                <h1><i class="fa fa-warning"></i>系统通知</h1>
                <p><label><a href="/CloseNotice?Id=@Model[i].Id"><i class="fa fa-window-restore"></i></a></label>@Model[i].Title</p>
                <p>Message here</p>
            </div>
        }
    }
}