@model ViewModel.AdInWidget.WriteModel
@{
    ViewData["Title"] = "侧边栏广告·一起帮";
    Layout = "~/Views/Shared/_LayoutForNewTask.cshtml";
}

@section Title{ <span class="fa fa-pencil-square-o ">侧边栏广告</span> }
@section LowRightShow{
}


@Html.Action("_AdPosition","Ad")
@Html.Action("_Index", "Ad")