
@{
    ViewData["Title"] = "First-Problem";
}
@section style{

}

<main class="container">

    <div class="row">
        <section class="col-md-9">
            <h2 style="margin-top:90px;">
                <i class="fa fa-graduation-cap"></i>首次求助测试
            </h2>
            <hr />
            <form method="post">
                <label><strong>1 、以下哪一种求助是“一起帮”鼓励的：</strong></label><br />
                <label><input type="radio" name="1" value="1" />如何看待42岁程序员跳楼事件？（社会热点问题）</label><br />
                <label><input type="radio" name="1" value="2" />讲一讲你是怎么自学JAVA的吧？（开放式问题）</label><br />
                <label><input type="radio" name="1" value="3" />HTTP协议的底层原理是什么？（原理性问题）</label><br />
                <label><input type="radio" name="1" value="4" />Excel按时间分段排序无法实现（具体的、事务性的，使用远程协助能最快解决的问题）</label><br />
                <label><strong>2 、以下哪一个求助的标题最为恰当：</strong></label><br />
                <label><input type="radio" name="2" value="1" />Excel的问题</label><br />
                <label><input type="radio" name="2" value="2" />跪求一看：打不开文件了</label><br />
                <label><input type="radio" name="2" value="3" />修改网上商城的源代码</label><br />
                <label><input type="radio" name="2" value="4" />本地无法连接Mysql数据库（之前正常，且已排除网络问题）</label><br />
                <label><strong>3 、求助的描述，应该：</strong></label><br />
                <label><input type="checkbox" name="3" value="1" />清晰扼要</label><br />
                <label><input type="checkbox" name="3" value="2" />说明问题的背景，以及已经采取的措施和结果</label><br />
                <label><input type="checkbox" name="3" value="3" />最好能图文并茂</label><br />
                <label><input type="checkbox" name="3" value="4" />随便写写就行，反正都要远程协助</label><br />
                <label><strong>4 、分割关键字使用的是：</strong></label><br />
                <label><input type="radio" name="4" value="1" />逗号</label><br />
                <label><input type="radio" name="4" value="2" />空格</label><br />
                <label><input type="radio" name="4" value="3" />句号</label><br />
                <label><input type="radio" name="4" value="4" />冲锋号</label><br />
                <label><strong>5 、发布求助时如果勾选“据实结算”，以下说法正确的是：</strong></label><br />
                <label><input type="checkbox" name="5" value="1" />系统会从“求助人”点击“开始协助”开始计时</label><br />
                <label><input type="checkbox" name="5" value="2" />每一分钟消耗一枚“帮帮币”</label><br />
                <label><input type="checkbox" name="5" value="3" />直到你的“帮帮币”被扣完为止……</label><br />
                <label><input type="checkbox" name="5" value="4" />扣除的“帮帮币”不会超过你设置的悬赏金额</label><br />

                <label><strong>6 、一个求助的正常流程是：</strong></label><br />
                <label><input type="radio" name="6" value="1" />（求助人）发布求助，（好心人）应答，over</label><br />
                <label><input type="radio" name="6" value="2" />（求助人）发布求助，（好心人）应答，（好心人和求助人）开始远程协助，over</label><br />
                <label><input type="radio" name="6" value="3" />（求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，over</label><br />
                <label><input type="radio" name="6" value="4" />（求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，（求助人）酬谢和评价，（好心人和求助人）写总结，over</label><br />
                <label><strong>7 、开始协助的按钮在应答的旁边，是哪一个以下图标：</strong></label><br />
                <label><input type="radio" name="7" value="1" /><i class="fa fa-star-half" title="开始远程协助"></i></label><br />
                <label><input type="radio" name="7" value="2" /><i class="fa fa-hand-o-right" title="问题解决，酬谢"></i></label><br />
                <label><input type="radio" name="7" value="3" /><i class="fa fa-windows" title="正在协助......"></i></label><br />
                <label><input type="radio" name="7" value="4" /><i class="fa fa-window-close" title="问题没解决重开"></i></label><br />
                <label><strong>8 、如果求助人认为问题没有解决，可以拒绝全额酬谢。拒绝全额酬谢会导致：</strong></label><br />
                <label><input type="checkbox" name="8" value="1" />好心人得不到帮帮币奖励</label><br />
                <label><input type="checkbox" name="8" value="2" />好心人只能得到该求助悬赏金额一半（取整）的帮帮币奖励</label><br />
                <label><input type="checkbox" name="8" value="3" />求助重新开放，好心人可以等待或选择其他好心人“开始协助”</label><br />
                <label><input type="checkbox" name="8" value="4" />拒绝酬谢被系统记录统计并予以公开显示</label><br />
                <label><strong>9 、虽然求助的问题得到了解决，但该过程并非全是好心人的功劳，或者有其他不满意的地方，“一起帮”建议求助人：</strong></label><br />
                <label><input type="radio" name="9" value="1" />拒绝全额酬谢</label><br />
                <label><input type="radio" name="9" value="2" />还是算了，和为贵</label><br />
                <label><input type="radio" name="9" value="3" />给予全额酬谢，但同时给予适当的评价</label><br />
                <label><input type="radio" name="9" value="4" />给他个全额酬谢，再画个小圈圈咒死他，<(｀^´)></label><br />
                <label><strong>10 、关于总结，以下说法正确的是：</strong></label><br />
                <label><input type="checkbox" name="10" value="1" />只有在求助被撤销或酬谢之后才能发总结</label><br />
                <label><input type="checkbox" name="10" value="1" />只有求助人和好心人才能发总结</label><br />
                <label><input type="checkbox" name="10" value="1" />别人查看你的总结，你会获得帮帮点</label><br />
                <label><input type="checkbox" name="10" value="1" />总结只能被查看过的用户评价和评论</label><br />
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-light border border-secondary">重填</button>

            </form>
        </section>
        <aside class="col-md-3">
            <div style="margin-top:90px;border:dashed#d8c8c8 3px;padding:25px;background-color:#fce98b">
                <h4>新手任务</h4>
                <hr />
                <p><i class="fa fa-square-o"></i>填写：<a href="none">联系方式</a></p>
                <p><i class="fa fa-square-o"></i>激活：<a href="none">Email</a></p>
                <p><i class="fa fa-square-o"></i>邀请：<a href="none">我的小伙伴</a></p>
                <p><i class="fa fa-square-o"></i>参加：<a href="none">新人测试</a></p>
                <p><i class="fa fa-square-o"></i>发布：<a href="none">第一个求助</a></p>
                <p><i class="fa fa-square-o"></i>尝试： <a href="none">第一次协助</a></p>
                <p><i class="fa fa-square-o"></i>获得：若干<a href="none" style="color:gold">帮帮币</a></p>
            </div>
            <div class="flex-column">
                <p class="text-right" style="padding-top:30px;"><a href="/firstproblem">修改</a></p>
                <div class="rounded-sm border justify-content-center">
                    <p style="padding-left:30%;padding-right:50%;"><i class="fa fa-picture-o"></i></p>
                    <span style="padding-left:50%;">等待上传中<i class="fa fa-hourglass-start"></i>...</span>
                </div>
                <span><strong>用户：</strong></span>
                <a href="none">用户名</a>
                <a href="/Credit" title="初级学徒">①</a>
                <a href="none">修改</a>
            </div>
        </aside>
    </div>

</main>



