@page
@model _17bang.TagHelperHWModel
@{
    ViewData["Title"] = "TagHelperHW";
}
    <div class=" text-center">
        <h1>TagHelperHW</h1>
        <p style="margin-top:90px" class="fa fa-remove"></p>
        <datetime>@DateTime.Now</datetime>
        <hr />
        <datetime asp-only="true">wpz</datetime>
        <hr />
        <datetime asp-showicon="true">前面是Icon</datetime>
        <hr />
        <datetime asp-only="date">时间是： </datetime>
    </div>
