<li id="@Model.Id" class="media">
    <button js-reply type="button" class="btn btn-outline-secondary">@@TA<br />回复</button>
    <div class="media-body ml-2">
        <h5 class="mt-0 mb-1">@Model.PublishTime @Html.Partial("_Author",(object)Model.Author)</h5>
        <span js-showContent>@Model.Content</span>
    </div>
</li>