<li id="@Model.Id">
    <div js-myChat class=" ml-2">
        <h5 class="mt-0 mb-1">@Model.PublishTime @Html.Partial("~/Views/Article/_Author",(object)Model)</h5>
        <span>@Model.MyChatContent</span>
    </div>
</li>