@model int?
@{
    ViewData["Title"] = "首页·一起帮";
}

@section style{
    <style>
        section > ul > li {
            margin-top: 15px;
            margin-bottom: 15px;
        }

            section > ul > li button {
                padding: 3px 9px;
            }
    </style>
}

<main class="container">

    <div class="row">
        <section class="col-md-6" style="margin-top:85px;">
            <div>
                <a href="none" style="padding-left:260px;">更多历史</a>
            </div>

            <ul js-chatRoom class="list-unstyled pre-scrollable">
                @Html.Action("_ChatRoom", "Home")
            </ul>

            <div hidden js-hiddenReply>
                <i class="fa fa-reply"></i>
                <span js-hiddenReplyId></span>
            </div>
            <div class="input-group mb-3">
                @if (Model == null)
                {
                    <input js-content type="text" class="form-control" disabled="disabled"  placeholder="我来说两句" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <a href="/Register" class="btn btn-outline-secondary">注册</a>
                        <a href="/Log/On" class="btn btn-outline-secondary">登陆</a>
                    </div>
                }
                else
                {
                    <input js-content type="text" class="form-control" placeholder="我来说两句" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button js-send type="submit" class="btn btn-outline-secondary">发送</button>
                    </div>
                }
            </div>
        </section>
        <aside style="position:fixed;left:60%;top:20%;">
            <h4>“源栈”web开发培训班</h4>
            <h4><i class="fa fa-fire" style="color:red"></i>火热<span>招生中：</span></h4>
            <p>线上：全程直播，免费收看</p>
            <p>线下：灵活学制，拎包入住</p>
            <p>有意向的同学，可以加qq群：326801052</p>
            <img src="~/img/二维码.png" alt="qq学习群326801052" />
        </aside>
    </div>
</main>

<script src="~/Scripts/MyJavaScript/IndexScript.js"></script>