@page
@model luckstack3.SigninModel
@{
    ViewData["Title"] = "用户登录·一起帮";
    Layout = "_LayoutBigColumn";
}

@section style{
    <style>
        .field-validation-error {
            color: #b94a48;
        }

        .field-validation-valid {
            display: none;
        }

        input.input-validation-error {
            border: 1px solid #b94a48;
        }

        input[type="checkbox"].input-validation-error {
            border: 0 none;
        }

        .validation-summary-errors {
            color: #b94a48;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
}
@section Title{
    <i class="fa fa-sign-in">用户登录</i>
}


<form class="col-md-4" method="post">

    <partial name="_LogOnTokenMessage"/>

    <div class="form-group">
        <label><strong>用户名：（* 必填）</strong></label>
        <input asp-for="Name" class="form-control" placeholder="不是昵称，是登录用户名">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label><strong>密码：（* 必填）</strong></label>
        <input asp-for="Password" class="form-control" placeholder="不少于4个字符">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label><strong>验证码：（* 必填）</strong></label>
        <div>
            <input asp-for="Captcha" class="form-control" style="width:30%;display:inline;">
            <a href="#">看不清楚</a>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
    <label><input type="checkbox" style="display:inline" value="true" readonly asp-for="RemenberMe" />记住我</label>
    <a href="/Log/On" class="btn float-md-right text-primary"><i class="fa fa-registered"></i>注册</a>
    <a href="/Log/On" class="btn float-md-right text-primary">(｡ŏ_ŏ) 忘了</a>
</form>

@section Descirption{
    <ol>
        <li>
            我们希望通过<a href="none">一起帮</a>，能<strong style="color:dodgerblue">直接解决</strong>
            大家在<span style="color:dodgerblue">电脑操作/软件使用/编程学习</span>等方面的<strong>具体问题。</strong>
        </li>
        <li>
            现在互联网远程技术<span style="color:gray">（比如QQ桌面共享）</span>已经非常成熟，当我们再遇到上述问题，
            如果别人能<span style="color:deepskyblue">直接远程给予帮助</span>，岂不是好？
        </li>
        <li>
            当然，你也可以在你熟悉的领域去<span style="color:deepskyblue">帮助别人</span>
            。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
        </li>
        <li>
            公平起见，我们还引入了 帮帮<span style="color:dodgerblue">点</span>/
            <span style="color:yellow">币</span>/
            <span style="color:greenyellow">豆</span>
            三级概念，以记录和衡量社区成员的收获和贡献。
        </li>
        <li>
            赶快加入我们，赚取帮帮币吧！
        </li>
    </ol>
}

