@page
@model luckstack3.signinModel
@{
    ViewData["Title"] = "signin";
}

<DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>  
        <nav>
            <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
        </nav>
    </header>

    <h1>用户登录</h1>
    <hr />
    <main>
        <form method="post" action="/" >
            <label>用户名：（* 必填）</label><br />
            <input type="text" placeholder="不是昵称，是登录用户名" name="SginIn" value="" /><br />
            <label>密码：（* 必填）</label><br />
            <input type="text" placeholder="不少于4个字符" name="Password" value="" /><br />
            <label>验证码：（* 必填）</label>
            <input type="text" name="Try" value="" /><br />
            <button type="submit" formaction="/" style="background-color:dodgerblue; color:white">提交</button>
            <label><input type="checkbox" name="touch" value="true" readonly />记住我</label>
            <label><a href="none">(｡ŏ_ŏ) 忘了</a></label>
            <label><a href="/register">注册</a></label>
        </form>

    </main>
    <hr /> 
    <aside>
        <h1 style="color:dodgerblue">说明</h1>
        <ol>
            <li>
                我们希望通过<a href="none">一起帮</a>，能<strong style="color:dodgerblue">直接解决</strong>
                大家在<span style="color:dodgerblue">电脑操作/软件使用/编程学习</span>等方面的<strong>具体问题。</strong>
            </li>
            <li>
                现在互联网远程技术<span style="color:gray">（比如QQ桌面共享）</span>已经非常成熟，当我们再遇到上述问题，
                如果别人能<span style="color:deepskyblue">直接远程给予帮助</span>，岂不是好？
            </li>
            <li>
            当然，你也可以在你熟悉的领域去<span style="color:deepskyblue">帮助别人</span>
            。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
            </li>
            <li>
                公平起见，我们还引入了 帮帮<span style="color:dodgerblue">点</span>/
                <span style="color:yellow">币</span>/
                <span style="color:greenyellow">豆</span>
                三级概念，以记录和衡量社区成员的收获和贡献。
            </li>
            <li>
                赶快加入我们，赚取帮帮币吧！
            </li>
        </ol>
    </aside>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>

    </footer>
</body>

</html>