@model Entity.User
@*1.新建一个Partial view：_User.cshtml，
    2._User.cshtml对应着一个UserPageModel，
    3.UserPageModel中有Id、Name和Level属性，供_User.cshtml
    4._User.cshtml里是一个链接：
    1.文本为UserPageModel的Name
    2.链接指向：/User/@Id
    3.根据Level显示不同的颜色：3级以下灰色；3-8级蓝色；8级以上红色 *@

@{ string color = string.Empty;

    if (Convert.ToInt32(Model.Level) < 3)
    {
        color = "gray";
    }
    else if (Convert.ToInt32(Model.Level) < 8)
    {
        color = "blue";
    }
    else
    {
        color = "red";
    }
}

<a href="/Suggest/?@Const.USER_ID=@Model.Id" style="color:@color">@Model.NickName</a>