@page
@model luckstack3.indexModel
@{
    ViewData["Title"] = "index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
</head>

<body>
    <header>
        <a href="/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1>
        <span style="color:gray">网络互助平台</span>
    </header>
    <nav>
        <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <main>
        <div>
            <span>2020年02月26日 13点02分</span>
            <span>作者：<a href="none" style="text-decoration:none">叶飞</a></span>
            <a href="none" style="text-decoration:none">ASP.NET RazorPages：CSRF跨站点请求伪造</a>
            <p>Cross-SiteRequestForgery：防御的核心在于除了用户的验证cookie以外，还要生成一个token，以确保链接/表单确实为服务器端生成。如何生成token？生成一个随机数从用户密码中生成……实现：操作类尽量使用Post（仅查询类使用Get）前台，Layout中传入，使用JavaScript附加后台，使用Filter进行封装。和钓鱼网站的区别MVC内置反欺骗（仅用于form表单）在form表单中添加：@@Html.AntiForgeryToken()生成一个hiden input，记录了一 <a href="none" style="text-decoration:none;color:black">……</a></p>
            <label>
                <strong>关键字： </strong>
                <span>CSRF</span>
                <span>跨站点请求伪造</span>
            </label>
            <a href="none" style="text-decoration:none"> 评论：0 </a>
            <a href="none" style="text-decoration:none"> 赞： 0  </a>
            <a href="none" style="text-decoration:none"> 踩：0 </a><br />
        </div>

        <div>
            <span>2020年02月23日 00点30分</span>
            <span>作者：<a href="none" style="text-decoration:none">叶飞</a></span>
            <a href="none" style="text-decoration:none">CSS：选择器</a>
            <p>使用CSS的方式内联式Inline（也叫行内样式）：应用内嵌样式到各个网页元素嵌入式Embedding（也叫内页样式）：在网页上创建嵌入的样式表。外联式Linking（也叫外部样式）：将网页链接到外部样式表。（推荐：便于重用，内容与表现分离）<link rel="stylesheet" href="/css/lucky.css" />（演示：略）体会：在计算机各个领域，大家对“解耦”的渴望！选择器标签（tag）h1{}属性a[href]{}还可以使用：[attribute=value]用于选取 <a href="none" style="text-decoration:none;color:black">……</a></p>
            <label>
                <strong>关键字： </strong>
                <span>前端</span>
                <span>CSS</span>
                <span>选择器</span>
            </label>
            <a href="none" style="text-decoration:none"> 评论：0 </a>
            <a href="none" style="text-decoration:none"> 赞： 0  </a>
            <a href="none" style="text-decoration:none"> 踩：0 </a><br />
        </div>

        <div>
            <span>2020年02月23日 00点29分</span>
            <span>作者：<a href="none" style="text-decoration:none">叶飞</a></span>
            <a href="none" style="text-decoration:none">CSS：盒子模型、浮动和定位</a>
            <p>CSS 盒子模型适用样式：width/height流元素的高度和居中overflowborder：粗细/样式/颜色top/right/bottom/left为什么使用transparent？margin/padding：是否占用宽度？block和padding的不同margin合并为了避免浏览器兼容问题，通常都首先定义：margin:0;padding:0;display:block：默认宽度100%（占一行）inline：宽度随文本，不会占一行，margin有效，padding不会“撑起”父元素，hei <a href="none" style="text-decoration:none;color:black">……</a></p>
            <label>
                <strong>关键字： </strong>
                <span>CSS</span>
                <span>盒子模型</span>
                <span>浮动</span>
                <span>定位</span>
            </label>
            <a href="none" style="text-decoration:none"> 评论：0 </a>
            <a href="none" style="text-decoration:none"> 赞： 0  </a>
            <a href="none" style="text-decoration:none"> 踩：0 </a><br />
        </div>

        <div>
            <span>2020年02月22日 13点49分</span>
            <span>作者：<a href="none" style="text-decoration:none">叶飞</a></span>
            <a href="none" style="text-decoration:none">源栈培训：ASP.NET MVC：分层架构 - CurrentUser</a>
            <p>1、很多时候我们需要当前用户2、当前用户a）需要从cookie中获取b）还需要数据库支持（验证）3、发布一个求助需要当前用户作为作者所以：方案（一）public interface IProblemService{int Publish(NewModel model, int authorId);}NewModel：存Title、Body等数据authorId：-- 不能只取cookie中的userId，还得有token结论：麻烦方案（二）当前用户信息直接由SRV获取既然SRV能够获取cookie =》 <a href="none" style="text-decoration:none;color:black">……</a></p>
            <label>
                <strong>关键字： </strong>
                <span>ASP.NET</span>
                <span>MVC</span>
                <span>当前用户</span>
            </label>
            <a href="none" style="text-decoration:none"> 评论：0 </a>
            <a href="none" style="text-decoration:none"> 赞： 0  </a>
            <a href="none" style="text-decoration:none"> 踩：0 </a><br />

        </div>

        <div>
            <table border="1" style="border-collapse:collapse">
                <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>>></th>
                    </tr>
                </thead>
            </table>
        </div>
    </main>
    <aside>
        <div>
            <p>关键字</p>
            <span>编程开发语言</span><span>C#</span><span>JAVA</span><br />
            <span>工具软件</span><span>Javascript</span><br />
            <span>顾问咨询</span><span>Html</span><span>VisualStudio</span><br />
            <span>操作系统</span><span>SQL</span><span>职场</span><span>法律</span><br />
            <span>Python</span><span>.net</span><span>css</span><span>Linux</span>
            <input type="text" placeholder="直接输入关键字查找" />
            <button type="submit">换一批</button>
        </div>
        <div>
            <span>每日督促</span><span>排行榜</span><span>新注册</span>
            <p>2020年02月25日</p>
            <span>共扫描目标：</span><span>1个</span><br />
            <span>当天休息：</span><span>0人</span><br />
            <span>已交作业：</span><span>0份</span><br />
            <span>请假：</span><span>0 人</span><br />
            <span>未交作业：</span><span><a href="none" style="text-decoration:none">1 人</a></span><br />
        </div>
        <div>
            <a href="none" style="text-decoration:none"> 学编程，来 “源栈”！飞哥精品小班等着你……</a><br />
            <a href="none" style="text-decoration:none">  免费广告位，抢到就是赚到！</a><br />
            <a href="none" style="text-decoration:none">  免费广告位，抢到就是赚到！</a><br />
            <a href="none" style="text-decoration:none">  免费广告位，抢到就是赚到！</a><br />
            <a href="none" style="text-decoration:none">  免费广告位，抢到就是赚到！</a><br />
            <p>本站主机由<a href="none" style="text-decoration:none">  西部数码</a>提供</p>
            <a href="none" style="text-decoration:none">广告</a>
        </div>
    </aside>
    <hr />
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>
