@page
@model luckstack3.helppointModel
@{
    ViewData["Title"] = "helppoint";
}

<!--<h1>helppoint</h1>--->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
        <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <article>
        <p style="color:deepskyblue">人工客服</p>
        <a href="none" style="color:dodgerblue" <img src="none" title="点击了解" /><h1>帮帮点</h1></a>
        <p><h2>Q：什么是帮帮点？有什么用处？</h2></p>
        <a href="none" style="color:dodgerblue" <img src="none" title="点击了解" />帮帮点</a>
        <span>和一般论坛的“积分”类似，主要用于衡量用户的社区活跃和贡献。</span>
        <p>首先，这就是你在“一起帮”的功勋章，表彰你对社区的贡献！(￢_￢)瞄</p>
        <p>其次，根据用户点数，我们整理出了以下“晋级”路径。每达到一个等级
        <span style="color:gray">（等级图标正在制作中……）</span>，都会<a href="none">掉落</a>相应的
        <a href="none"><span style="color:yellow">帮帮币</span>  。</a><</p>
    </article>
    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th><strong>等级</strong></th>
                <th><strong>点数</strong></th>
                <th><strong>掉落</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>入门</td>
                <td>30</td>
                <td><a href="none">图标</a>10</td>
            </tr>
            <tr>
                <td>1</td>
                <td>聚气</td>
                <td>100</td>
                <td>20</td>
            </tr>
            <tr>
                <td>2</td>
                <td>凝水</td>
                <td>200</td>
                <td>30</td>
            </tr>
            <tr>
                <td>3</td>
                <td>萌芽</td>
                <td>700</td>
                <td>50</td>
            </tr>
            <tr>
                <td>4</td>
                <td>单叶</td>
                <td>1500</td>
                <td>80</td>
            </tr>
            <tr>
                <td>5</td>
                <td>双叶</td>
                <td>3000</td>
                <td>100</td>
            </tr>
            <tr>
                <td>6</td>
                <td>蓓蕾</td>
                <td>5000</td>
                <td>150</td>
            </tr>
            <tr>
                <td>7</td>
                <td>花开</td>
                <td>10000</td>
                <td>300</td>
            </tr>
            <tr>
                <td>8</td>
                <td>宝宝</td>
                <td>20000</td>
                <td>500</td>
            </tr>
            <tr>
                <td>9</td>
                <td>金童/玉女</td>
                <td>50000</td>
                <td>1000</td>
            </tr>
        </tbody>
    </table>
    <p>此外，点数越多，每次登录获得的<a href="none">帮帮豆 </a>就会更多一些：砸人的时候更阔气一些吧。</p>
    <p>另：<a href="none">一张表区分帮帮“点/豆/币”</a></p>
    <p><h2>Q：如何才能获得帮帮点？</h2></p>
    <p>一句话：<strong>尽可能的多的参加下社区活动。</strong></p>
    <p>目前的奖励政策如下表所示：</p>

    <table border="1">
        <thead>
            <tr>
                <th><strong>社区活动</strong></th>
                <th><strong>点数</strong></th>
                <th><strong>备注</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">* 账号相关</td>
            </tr>
            <tr>
                <td><a href="none">注册</a></td>
                <td>10</td>
                <td>使用了别人的<a href="none">邀请码</a></td>
            </tr>
            <tr>
                <td><a href="none">邀请注册</a></td>
                <td>10</td>
                <td>别人使用了你的<a href="none">邀请码</a>完成注册</td>
            </tr>
            <tr>
                <td><a href="none">激活Email</a></td>
                <td>20</td>
                <td>不是填写了Email就有点数，Email必须被验证激活<a href="none">验证激活</a></td>
            </tr>
            <tr>
                <td colspan="3">* 求助相关</td>
            </tr>
            <tr>
                <td><a href="none">新人测试</a></td>
                <td>0-30</td>
                <td>按<a href="none">测试成绩</a>给点数奖励，每题3点</td>
            </tr>
            <tr>
                <td><a href="none"><strong>首次</strong>求助</a></td>
                <td>20</td>
                <td>只能是<a href="none">第一次发布求助</a>，并且审核通过，才能获得点数奖励</td>
            </tr>
            <tr>
                <td>酬谢</td>
                <td></td>
                <td>“求助人”多少<a href="none">酬谢</a><a href="none">帮帮币<</a> ，就能获得10倍点数奖励</td>
            </tr>
            <tr>
                <td>获得.*</td>
                <td></td>
                <td><a href="none">全额酬谢</a>时，酬谢<a href="none">帮帮币<</a>枚数 * (2 * 获得评价星级)，且5星好评翻番，问题没有解决不能获得点数奖励。</td>
            </tr>
            <tr>
                <td>查看总结</td>
                <td>2</td>
                <td>只有注册用户才能<a href="none">查看</a></td>
            </tr>
            <tr>
                <td>总结被查看</td>
                <td>3</td>
                <td>只有注册用户才能<a href="none">查看</a></td>
            </tr>
            <tr>
                <td>评论总结</td>
                <td>5</td>
                <td>自己不能<a href="none">评论</a>自己，同一用户同一总结只奖励一次</td>
            </tr>
            <tr>
                <td colspan="3">* 评价相关</td>
            </tr>
            <tr>
                <td>
                    赞/踩：
                    总结
                    文章
                    意见建议
                    及他们的评论
                </td>
                <td>1</td>
                <td>无论点赞，还是 拍砖，评价一次就得1点（可多次点击）</td>
            </tr>
            <tr>
                <td>
                    总结
                    文章
                    意见建议
                    及他们的评论
                    被点赞
                </td>
                <td>2</td>
                <td>被点赞一次就得2点</td>
            </tr>
            <tr>
                <td>
                    文章评论
                    被精选
                </td>
                <td>10</td>
                <td>由文章作者精选</td>
            </tr>
            <tr>
                <td colspan="3">* 督促</td>
            </tr>
            <tr>
                <td><a href="none">发布目标</a></td>
                <td></td>
                <td>同目标的<a href="none">未交作业惩罚</a>数</td>
            </tr>
            <tr>
                <td><a href="none">加入目标</a></td>
                <td>5</td>
                <td>只要加入，就可以获得</td>
            </tr>
            <tr>
                <td><a href="none">交作业</a></td>
                <td>2</td>
                <td>只要交一次作业，求助人就可以获得</td>
            </tr>
            <tr>
                <td><a href="none">验收</a></td>
                <td>2</td>
                <td>好心人验收通过，给予好心人的帮帮点奖励。拒绝或质疑不能获得（拒绝有“帮帮币”补偿）</td>
            </tr>
            <tr>
                <td colspan="3">* 其他</td>
            </tr>
            <tr>
                <td><a href="none">意见建议</a></td>
                <td></td>
                <td>由管理员确定<a href="none">奖励</a>点数</td>
            </tr>
        </tbody>
    </table>

    <p>政策可能有实时调整，稍许滞后，还敬请谅解。</p>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>

</html>