@page
@model luckstack3.ReleaseModel
@{
    ViewData["Title"] = "Release";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        a{
            text-decoration:none;
        }
    </style>
</head>

<body>
    <header>
        <a href="/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
        <nav>
            <ul>
                <li>
                    求助
                    <ul>
                        <li>
                            督导班
                        </li>
                        <li>
                            列表
                        </li>
                        <li>
                            疑问发布
                        </li>
                        <li>
                            疑问列表
                        </li>
                        <li>
                            列表
                        </li>
                        <li>
                            发布
                        </li>
                    </ul>
                </li>
                <li>
                    督促
                    <ul>
                        <li>
                            求督促
                        </li>
                        <li>
                            督促别人
                        </li>
                        <li>
                            我的目标
                        </li>
                        <li>
                            我的督促
                        </li>
                        <li>
                            未交作业
                        </li>
                    </ul>
                </li>
                <li>
                    文章
                    <ul>
                        <li>
                            列表
                        </li>
                        <li>
                            开通
                        </li>
                    </ul>
                </li>
                <li>
                    未登录
                    <ul>
                        <li>
                            登录
                        </li>
                        <li>
                            注册
                        </li>
                        <li>
                            忘记密码
                        </li>
                    </ul>
                </li>
                <li>
                    后台
                    <ul>
                        <li>
                            邀请注册
                        </li>
                        <li>
                            我的消息
                        </li>
                        <li>
                            我的草稿
                        </li>
                        <li>广告推广</li>
                        <li>
                            联系方式
                        </li>
                        <li>
                            侧边栏
                        </li>
                        <li>帮帮币</li>
                        <li>
                            购买
                        </li>
                        <li>
                            出售
                        </li>
                        <li>
                            已购买
                        </li>
                        <li>
                            已出售
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <header>
            <h2>首次求助测试</h2>
            <a href="none">目的</a>
            <hr />
        </header>
        <section>
            <form method="post">
                <label><strong>1 、以下哪一种求助是“一起帮”鼓励的：</strong></label><br />
                <label><input type="radio" name="1" value="1" />如何看待42岁程序员跳楼事件？（社会热点问题）</label><br />
                <label><input type="radio" name="1" value="2" />讲一讲你是怎么自学JAVA的吧？（开放式问题）</label><br />
                <label><input type="radio" name="1" value="3" />HTTP协议的底层原理是什么？（原理性问题）</label><br />
                <label><input type="radio" name="1" value="4" />Excel按时间分段排序无法实现（具体的、事务性的，使用远程协助能最快解决的问题）</label><br />
                <label><strong>2 、以下哪一个求助的标题最为恰当：</strong></label><br />
                <label><input type="radio" name="2" value="1" />Excel的问题</label><br />
                <label><input type="radio" name="2" value="2" />跪求一看：打不开文件了</label><br />
                <label><input type="radio" name="2" value="3" />修改网上商城的源代码</label><br />
                <label><input type="radio" name="2" value="4" />本地无法连接Mysql数据库（之前正常，且已排除网络问题）</label><br />
                <label><strong>3 、求助的描述，应该：</strong></label><br />
                <label><input type="checkbox" name="3" value="1" />清晰扼要</label><br />
                <label><input type="checkbox" name="3" value="2" />说明问题的背景，以及已经采取的措施和结果</label><br />
                <label><input type="checkbox" name="3" value="3" />最好能图文并茂</label><br />
                <label><input type="checkbox" name="3" value="4" />随便写写就行，反正都要远程协助</label><br />
                <label><strong>4 、分割关键字使用的是：</strong></label><br />
                <label><input type="radio" name="4" value="1" />逗号</label><br />
                <label><input type="radio" name="4" value="2" />空格</label><br />
                <label><input type="radio" name="4" value="3" />句号</label><br />
                <label><input type="radio" name="4" value="4" />冲锋号</label><br />
                <label><strong>5 、发布求助时如果勾选“据实结算”，以下说法正确的是：</strong></label><br />
                <label><input type="checkbox" name="5" value="1" />系统会从“求助人”点击“开始协助”开始计时</label><br />
                <label><input type="checkbox" name="5" value="2" />每一分钟消耗一枚“帮帮币”</label><br />
                <label><input type="checkbox" name="5" value="3" />直到你的“帮帮币”被扣完为止……</label><br />
                <label><input type="checkbox" name="5" value="4" />扣除的“帮帮币”不会超过你设置的悬赏金额</label><br />

                <label><strong>6 、一个求助的正常流程是：</strong></label><br />
                <label><input type="radio" name="6" value="1" />（求助人）发布求助，（好心人）应答，over</label><br />
                <label><input type="radio" name="6" value="2" />（求助人）发布求助，（好心人）应答，（好心人和求助人）开始远程协助，over</label><br />
                <label><input type="radio" name="6" value="3" />（求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，over</label><br />
                <label><input type="radio" name="6" value="4" />（求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，（求助人）酬谢和评价，（好心人和求助人）写总结，over</label><br />
                <label><strong>7 、开始协助的按钮在应答的旁边，是哪一个以下图标：</strong></label><br />
                <label><input type="radio" name="7" value="1" /><img src="none" title="开始远程协助" /></label><br />
                <label><input type="radio" name="7" value="2" /><img src="none" title="问题解决，酬谢" /></label><br />
                <label><input type="radio" name="7" value="3" /><img src="none" title="正在协助......" /></label><br />
                <label><input type="radio" name="7" value="4" /><img src="none" title="问题没解决重开" /></label><br />
                <label><strong>8 、如果求助人认为问题没有解决，可以拒绝全额酬谢。拒绝全额酬谢会导致：</strong></label><br />
                <label><input type="checkbox" name="8" value="1" />好心人得不到帮帮币奖励</label><br />
                <label><input type="checkbox" name="8" value="2" />好心人只能得到该求助悬赏金额一半（取整）的帮帮币奖励</label><br />
                <label><input type="checkbox" name="8" value="3" />求助重新开放，好心人可以等待或选择其他好心人“开始协助”</label><br />
                <label><input type="checkbox" name="8" value="4" />拒绝酬谢被系统记录统计并予以公开显示</label><br />
                <label><strong>9 、虽然求助的问题得到了解决，但该过程并非全是好心人的功劳，或者有其他不满意的地方，“一起帮”建议求助人：</strong></label><br />
                <label><input type="radio" name="9" value="1" />拒绝全额酬谢</label><br />
                <label><input type="radio" name="9" value="2" />还是算了，和为贵</label><br />
                <label><input type="radio" name="9" value="3" />给予全额酬谢，但同时给予适当的评价</label><br />
                <label><input type="radio" name="9" value="4" />给他个全额酬谢，再画个小圈圈咒死他，<(｀^´)></label><br />
                <label><strong>10 、关于总结，以下说法正确的是：</strong></label><br />
                <label><input type="checkbox" name="10" value="1" />只有在求助被撤销或酬谢之后才能发总结</label><br />
                <label><input type="checkbox" name="10" value="1" />只有求助人和好心人才能发总结</label><br />
                <label><input type="checkbox" name="10" value="1" />别人查看你的总结，你会获得帮帮点</label><br />
                <label><input type="checkbox" name="10" value="1" />总结只能被查看过的用户评价和评论</label><br />

                <button type="submit" style="background-color:blue;color:white">提交</button>
                <button type="submit" style="color:black">重填</button>
            </form>
        </section>
    </main>
    <aside>
        <div style="background-color:#eeef56;">
            <h4>新手任务</h4>
            <hr />
            <p>填写：<a href="none">联系方式</a></p>
            <p>激活：<a href="none">Email</a></p>
            <p>邀请：<a href="none">我的小伙伴</a></p>
            <p>参加：<a href="none">新人测试</a></p>
            <p>发布：<a href="none">第一个求助</a></p>
            <p>尝试： <a href="none">第一次协助</a></p>
            <p>获得：若干<a href="none" style="color:gold">帮帮币</a></p>
        </div>
        <div>
            <p><a href="/firstproblem">修改</a></p>
            <span><strong>用户：</strong></span>
            <a href="none">用户名</a>
            <a href="/Credit" title="初级学徒">①</a>
            <a href="none">修改</a>
        </div>
    </aside>
    
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>

