@page
@model luckstack3.helppointModel
@{
    ViewData["Title"] = "helppoint";
}

<!--<h1>helppoint</h1>--->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>

    </header>
    <table></table>
    <footer></footer>
</body>

</html>