@page
@model luckstack3.helppointModel
@{
    ViewData["Title"] = "helppoint";
}

<!--<h1>helppoint</h1>--->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>

    </header>
    <article>
        <a href="none" style="color:dodgerblue" <img src="none" title="点击了解" /><h1>帮帮点</h1></a>
        <p><h2>Q：什么是帮帮点？有什么用处？</h2></p>
        <a href="none" style="color:dodgerblue" <img src="none" title="点击了解" />帮帮点</a>
        <span>和一般论坛的“积分”类似，主要用于衡量用户的社区活跃和贡献。</span>
        <p>首先，这就是你在“一起帮”的功勋章，表彰你对社区的贡献！(￢_￢)瞄</p>
        <p>其次，根据用户点数，我们整理出了以下“晋级”路径。每达到一个等级
        <span style="color:gray">（等级图标正在制作中……）</span>，都会<a href="none">掉落</a>相应的
        <a href="none"><span style="color:yellow">帮帮币</span>  。</a><</p>
    </article>
    <table border="1">
        <thead>
            <tr>
                <th><strong>等级</strong></th>
            </tr>
        </thead>
    </table>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>

</html>