@page
@model luckstack3.HomePageModel
@{
    ViewData["Title"] = "HomePage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        a{
            text-decoration:none
        }
    </style>
</head>

<body>
    <header>
        <a href="/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
        <nav>
            <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
        </nav>
    </header>

    <main>
        <div>
            <a href="none">更多历史</a>
            <button type="button">@@他回复</button>
            <p>2020/1/29 20:08:15<a href="none">叶飞</a><a href="/credit">⑩</a></p>
            <p>@@<a href="none"> xtayaitak</a><a href="/credit">①</a></p>
            <p> 有没有打cs1.6的...</p>
            <p>哈哈……没有</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/1/29 20:08:15<a href="none">喵了个咪</a><a href="/credit">④</a></p>
            <p>喵了个咪</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/3 10:54:01<a href="none">喵了个咪</a><a href="/credit">④</a></p>
            <p>欢迎注册本站学习，邀请人：喵了个咪，邀请码0434</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/3 11:14:49<a href="none">喵了个咪</a><a href="/credit">④</a></p>
            <p>http://http://17bang.ren/Register/Home?name=%e5%96%b5%e4%ba%86%e4%b8%aa%e5%92%aa&code=0434</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/7 3:05:18<a href="none"> lk6321</a><a href="/credit">①</a></p>
            <p>啥?</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/9 14:03:27<a href="none">U33445687</a><a href="/credit">③</a></p>
            <p>666666</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/13 19:59:29<a href="none">云飞飞飞</a><a href="/credit">①</a></p>
            <p>666666666</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/17 0:24:57<a href="none">疾风小白</a><a href="/credit">①</a></p>
            <p>hai</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/18 15:41:29<a href="none">HarriethWiKk</a><a href="/credit">②</a></p>
            <p>6</p>
        </div>
        <div>
            <button type="button">@@他回复</button>
            <p>2020/2/19 12:39:21<a href="none">HarriethWiKk</a><a href="/credit">②</a></p>
            <p>嗨</p>
        </div>

        <label><input type="text" placeholder="我来说两句" name="talking" /><span>发送</span></label>

    </main>

    
    <aside>
        <h3>“源栈”Web开发培训班<span style="color:red">火热</span>招生中：</h3>
        <p>线上：全程直播，免费收看</p>
        <p>线下：灵活学制，拎包入住</p>
        <p>有意向的同学，可以加QQ群：326801052</p>
        <img src="~/img/二维码.png" alt="QQ学习群326801052" />
    </aside>

    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>
