@page
@model luckstack3.indexModel
@{
    ViewData["Title"] = "index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
</head>

<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
    </header>
    <article>
        <!---我要写的是文章列表页，这里不知道要写啥，主要内容都是提交的插入其他页面的链接,我也可以硬编上去，看下面show you two-->
        <a href="http://17bang.ren/Article/629">CSS：选择器</a>
        <p>使用CSS的方式内联式Inline（也叫行内样式）：应用内嵌样式到各个网页元素嵌入式Embedding（也叫内页样式）：在网页上创建嵌入的样式表。外联式Linking（也叫外部样式）：将网页链接到外部样式表。（推荐：便于重用，内容与表现分离）<link rel="stylesheet" href="/css/lucky.css" />（演示：略）体会：在计算机各个领域，大家对“解耦”的渴望！选择器标签（tag）h1{}属性a[href]{}还可以使用：[attribute=value]用于选取 ……</p>
        <label>关键字： </label><span> 前端 </span><span>CSS</span><span>选择器</span>
        <a href="http://17bang.ren/Article/630">CSS：浮动和定位</a>
        <p>CSS 盒子模型适用样式：width/height流元素的高度和居中overflowborder：粗细/样式/颜色top/right/bottom/left为什么使用transparent？margin/padding：是否占用宽度？block和padding的不同margin合并为了避免浏览器兼容问题，通常都首先定义：margin:0;padding:0;display:block：默认宽度100%（占一行）inline：宽度随文本，不会占一行，margin有效，padding不会“撑起”父元素，hei ……</p>
        <label>关键字： </label><span> CSS </span><span>盒子模型</span><span>浮动</span><span>定位</span>

    </article>
    <aside >
        <span>关键字</span>
    </aside>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>
