@page
@model luckstack3.ProblemsModel
@{
    ViewData["Title"] = "Problems";
}

<!--<h1>Problems</h1>--->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>

<body>
    <header>
        <a href="http://17bang.ren/" title="返回首页"<img src="~/img/一起帮主页logo左上角.png"  alt ="一起帮LOGO" />图片死了，不出来</a>
        <p><h1 style="color:gray">一起帮·</h1><span style="color:gray">网络互助平台</span></p>
    </header>
    <article>
        <p><h1>常见问题</h1></p>
        <a><h1>【假装有图片】账户</h1></a><br />
        <a href="/problemsolution#ZQ1">Q：邀请码是怎么一回事？</a><br />
        <a href="/problemsolution#ZQ2">Q：为什么会提示“邀请人数达到上限”？</a><br />
        <a href="/problemsolution#ZQ3">Q：系统如何是确定“最后（上次）登录时间”的？</a><br />
        <a href="/problemsolution#ZQ4">Q：“最后登录时间”有什么用处？</a><br />
        <a href="/problemsolution#ZQ5">Q：邮箱有什么作用？</a><br />
        <a href="/problemsolution#ZQ6">Q：为什么我收不到邮件通知？</a><br />
    </article>
    <footer>
    </footer>
</body>
</html>
