@page
@model luckstack3.ProblemsModel
@{
    ViewData["Title"] = "Problems";
}

<h1>Problems</h1>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>

<body>
    <header>
        <a href="http://17bang.ren/" title="返回首页"<img src="~/img/一起帮主页logo左上角.png"  alt ="一起帮LOGO" />图片死了，不出来</a>
        <p><h1 style="color:gray">一起帮·</h1><span style="color:gray">网络互助平台</span></p>
    </header>
    <aside>
    </aside>
    <footer>
    </footer>
</body>
</html>
