@page
@model luckstack3.selfdescriptionModel
@{
    ViewData["Title"] = "selfdescription";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
        <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <h2>个人资料</h2>
    <form method="post" action="" novalidate enctype="multipart/form-data">
        <label><strong>头像：（* 仅限jpg/png/gif）</strong></label><br />
        <label><input type="file" placeholder="页面提交时上传文件" multiple name="icon" value="" /><span>浏览</span></label><br />
        <label><strong>性别： </strong></label>
        <label><input type="radio" name="gender" value="男" />男</label>
        <label><input type="radio" name="gender" value="=女" />女</label><br />

        <label><strong>生日：</strong></label><br />
        <label><input type="month" /></label>
        <select name="Constellation">
            <option value="">--</option>
            <option>白羊座</option>
            <option>金牛座</option>
            <option>双子座</option>
            <option>巨蟹座</option>
            <option>狮子座</option>
            <option>处女座</option>
            <option>天秤座</option>
            <option>天蝎座</option>
            <option>射手座</option>
            <option>摩羯座</option>
            <option>水瓶座</option>
            <option>双鱼座</option>
        </select>
        <span>星座</span><br />
        <!---你这个地方是列表实现的，我发现我不可以，就用OPTION了-->
        <label><strong>关键字：（* 使用空格分隔）</strong></label><br />
        <select name="frist">
            <option>编程开发语言</option>
            <option>工具软件</option>
            <option>顾问咨询</option>
            <option>操作系统</option>
        </select>
        <select name="second">
            <option>visual studio</option>
            <option>eclipse</option>
            <option>IDEA</option>
            <option>Excel</option>
            <option>Word</option>
            <option>CAD</option>
            <option>Photoshop</option>
            <option>PowerPoint</option>
        </select>
        <input type="text" placeholder="自定义关键字，使用空格分隔" name="Keywords" /><br />

        <label><strong>自我介绍：</strong></label><br />
        <textarea placeholder="简单介绍一下自己吧，不超过255字" name="selfdescription" rows="7"></textarea><br />
        <button type="submit" >提交</button>

    </form>

    <aside>
        <h3 style="color:blue">说明</h3>
        <ol>
            <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
            <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
            <li>自我介绍的字数不要超过255字。</li>
        </ol>
    </aside>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>

