@page
@model luckstack3.selfdescriptionModel
@{
    ViewData["Title"] = "selfdescription";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
        <ul>
            <li>
                求助
                <ul>
                    <li>
                        督导班
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        疑问发布
                    </li>
                    <li>
                        疑问列表
                    </li>
                    <li>
                        列表
                    </li>
                    <li>
                        发布
                    </li>
                </ul>
            </li>
            <li>
                督促
                <ul>
                    <li>
                        求督促
                    </li>
                    <li>
                        督促别人
                    </li>
                    <li>
                        我的目标
                    </li>
                    <li>
                        我的督促
                    </li>
                    <li>
                        未交作业
                    </li>
                </ul>
            </li>
            <li>
                文章
                <ul>
                    <li>
                        列表
                    </li>
                    <li>
                        开通
                    </li>
                </ul>
            </li>
            <li>
                未登录
                <ul>
                    <li>
                        登录
                    </li>
                    <li>
                        注册
                    </li>
                    <li>
                        忘记密码
                    </li>
                </ul>
            </li>
            <li>
                后台
                <ul>
                    <li>
                        邀请注册
                    </li>
                    <li>
                        我的消息
                    </li>
                    <li>
                        我的草稿
                    </li>
                    <li>广告推广</li>
                    <li>
                        联系方式
                    </li>
                    <li>
                        侧边栏
                    </li>
                    <li>帮帮币</li>
                    <li>
                        购买
                    </li>
                    <li>
                        出售
                    </li>
                    <li>
                        已购买
                    </li>
                    <li>
                        已出售
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <form method="post" action="" novalidate>

    </form>
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>
    </footer>
</body>
</html>

