@page
@model luckstack3.signinModel
@{
    ViewData["Title"] = "signin";
}

<DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <a href="http://17bang.ren/"><img src="~/img/一起帮主页logo左上角.png" alt="一起帮LOGO" /></a>
        <h1 style="color:gray"> 一起帮·</h1><span style="color:gray">网络互助平台</span>
    </header>
    <h1>用户登录</h1>
    <form method="post" action="/index" novalidate>
        <label>用户名：（* 必填）</label><br />
        <input type="text"placeholder="不是昵称，是登录用户名" name="sgin in" value="" /><br />
        <label>密码：（* 必填）</label><br />
        <input type="text"placeholder="不少于4个字符" name="password" value=""/><br />
        <label>验证码：（* 必填）</label>
        <input type="text" name="try" value="" /><br />
        <button type="submit" formaction="/">提交</button>
        <label><input type="checkbox" name="touch" value="true" readonly />记住我</label>

    </form>
 
    <footer>
        <div>
            <!---没有太想好为什么要加DIV，footer不是一个DIV吗？但是不想花冤枉时间去试错了，对着F12抄下来-->
            <a href="none" style="color:deepskyblue">关于我们</a> |
            <a href="none" style="color:deepskyblue">常见问题</a> |
            <a href="none" style="color:deepskyblue">意见建议</a> |
            <a href="none" style="color:deepskyblue">历史通知</a> |
            <a href="none" style="color:lawngreen">友情捐赠</a> |
            <a href="none" style="color:deepskyblue">融资2018</a><!---为什么是2018，不是2020吗，吐个槽-->
            <p>友情链接：</p>
            <a href="none" style="color:deepskyblue">老王这里（备案）</a>© 2020 - 首顾科技
        </div>

    </footer>
</body>

</html>