@using Entity
@model IList<Ad>

<div style="border:dashed#eae2e2 1px;border-radius:5px;padding:25px;margin-top:35px;">
    @foreach (var item in Model)
    {
        <p><span class="badge badge-secondary mr-3">@item.Id</span><a href="none">@item.AdName</a></p>
    }
</div>

