

<section class="container">
    <h2 style="margin-top:90px;">@RenderSection("Title")</h2>
    <hr />
    <div class="row">
        <form class="col-md-4">
            <section style="background-color:lightyellow;border:3px dashed#e8cf6f;padding:15px;border-radius:3px 5px;">
                <div class="text-md-right" style="padding-bottom:15px;">
                    <a href="none" class="text-right"><i class="fa fa-question-circle"></i>为什么需要邀请</a>
                </div>
                <div class="form-group">
                    <label>邀请人：（* 必填<a href="none" title="点击由系统推荐">没有邀请人</a>）</label>
                    <input type="text" class="form-control" placeholder="他的用户名，模糊查询只能从头开始">
                    <label>邀请码：（* 必填）</label>
                    <input type="text" class="form-control" placeholder="4位数字">
                </div>
            </section>
            <div class="form-group">
                <label>用户名：（* 必填）</label>
                <input type="text" class="form-control" placeholder="登录用户名，可修改，但不能重复">
            </div>
            <div class="form-group">
                <label>密码：（* 必填）</label>
                <input type="password" class="form-control" placeholder="不少于4个字符">
            </div>
            <div class="form-group">
                <label>验证密码：（* 必填）</label>
                <input type="password" class="form-control" placeholder="和密码相同">
            </div>
            <div class="form-group">
                <label>验证码：（* 必填） </label>
                <div>
                    <input type="text" class="form-control" style="width:30%;display:inline;">
                    <a href="#">看不清楚</a>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-light border border-secondary">重置</button>
            <a href="/Log/On" class="btn float-md-right text-primary"><i class="fa fa-sign-in"></i>登录</a>
        </form>

        <aside class="col-md-6 offset-1">
            @RenderBody()
            <h3><i class="fa fa-question-circle mt-3">说明</i></h3>
            @RenderSection("Descirption")
        </aside>
    </div>

</section>

