@using Entity
@model IList<User>

@{ string color = string.Empty;


<div class="card text-center mt-5">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">每日督促</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">排行榜</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">新注册</a>
            </li>
        </ul>
    </div>
    <div class="card-body  ">
        <div class="d-flex row">
            <div class="col-md-1">
                @for (int i = 1; i < 9; i++)
                {
                    <p class="text-white badge bg-dark">@i</p>
                }
            </div>
            <div class="col-md-3 offset-1">
                @foreach (var item in Model)
                {
                    <p><a href="/user/@item.Id">@item.UserName</a><span><a href="/credit">@item.Level</a></span></p>
                }
            </div>
            <div class="col-md-3 offset-2">
                @foreach (var item in Model)
                {
                    <p>@item.Integral</p>
                }
            </div>
            <div class="offset-8">
                <a href="#"><span class="fa fa-hand-o-right">我的排名</span></a>
            </div>
        </div>
    </div>
</div>