@page
@model _17bang.NewModelOfPlan
@{
    ViewData["Title"] = "发布新目标·一起帮";
    Layout = "_LayoutBigColumn";
}

@section style{
    <style>
        li {
            padding: 3px
        }
    </style>
}

@section Title {<i class="fa fa-edit"></i>发布新目标  }

@section Descirption {
    <ol>
        <li>
            简单来说，“一起督促吧”就干这三件事：
            <ul>
                <li>发布一个目标，押上一堆<i class=" fa fa-money"></i><a href="#">帮帮币 </a></li>
                <li>每天交作业。如果未交作业，“帮帮币”没了，(；′⌒`) </li>
                <li>一群人互相督促，交上来的作业得验收/拒收，未交作业的“帮帮币”大家抢！ </li>
            </ul>
        </li>
        <li>
            管用不管用？你试试看啊。我之前用过（现在也在用：<a href="#">每天一篇博客</a>），还是蛮不错的。因为：
            <ul>
                <li>会有压力。当前，前提是你要设置让你足够“肉痛”的<a href="#">未交作业惩罚</a></li>
                <li>有伴。人是一种社会动物，很多时候我们是被寂寞打败的。一件不是那么容易坚持的事，几个人一起做，就不显得那么难了——当然，要志同道合，拖后腿的损友除外。 </li>
                <li>有成就感。“一起督促吧”会记录下你每一天的完成情况，一段时间回头看看，还是蛮有成就感的。 </li>
            </ul>
        </li>
        <li>目标应明确独立，多个目标请分开发布。比如你虽然是同时既想健身又想学英语，但还是将其发布为两个个目标为佳。 </li>
        <li>标题以简明扼要为佳，比如：每天跑步三十分钟。 </li>
        <li>详细说明和标签都有助于你别人了解你的目标，帮助你找到最“合适”的“好心人”。 </li>
        <li>建议你设置一个目标完成的时间，这样能阶段性的检查总结，更有成就感。</li>
        <li>
            我们按“周”来计划目标的具体完成步骤（任务）。比如你计划每周星期一到星期五学习、周末休息，你就只需要勾选周一到周五即可，
            周末不要勾选。系统会自动忽略你未勾选的天数。而所有已勾选的天数，你都应该及时的“交作业”并由“好心人”验收，否则你的任务记录会判罚为“未交作业”。
        </li>
    </ol>

}

<form class="col-md-4" method="post">
    <div class="form-group">
        <label><strong>标题（必填）：</strong></label>
        <input asp-for="Title" type="text" class="form-control" placeholder="简明扼要，多个目标请分开发布">
    </div>
    <div class="form-group">
        <label><strong>详细说明：</strong></label>
        <div>
            <textarea rows="4" asp-for="Other" class="form-control" placeholder="补充你认为需要说明的其他信息。比如：求温柔/凶狠好心人，最好同城/校……"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label><strong>标签（必填）：</strong></label>
        <input asp-for="Tags" type="text" class="form-control" placeholder="多个标签之间请用空格分开">
    </div>
    <div class="form-group">
        <label><strong>开始执行（必填）：</strong></label>
        <input asp-for="StartTime" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label><i class="fa fa-question-circle"></i><strong>目标结束（必填）： </strong></label>
        <input asp-for="EndTime" type="date" class="form-control">
    </div>
    <div class="form-group">
        <label><i class="fa fa-question-circle"></i><strong>（每周）交作业时间：  </strong></label>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <th>@Model.WeekOfDay[i]</th>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        <td><input type="checkbox" asp-for="ChoosDay[i]" /></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label><i class="fa fa-question-circle"></i><strong>每周可请假：</strong></label>
        <div class="input-group input-group-combined">
            <select class="form-control" asp-for="Leave" asp-items="Model.LeaveRestDay"></select>
            <div class="input-group-append">
                <p class="btn btn-outline-secondary">天</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label><strong>证明： </strong></label>
        <input asp-for="Evidence" type="text" class="form-control" placeholder="证据的文字描述">
        <input asp-for="WebAdress" type="text" class="form-control mt-4" placeholder="可以访问的网址，详见说明">
    </div>
    <div class="form-group">
        <label><i class="fa fa-question-circle"></i><strong>好心人最多：</strong></label>
        <div class="input-group input-group-combined">
            <select class="form-control" asp-for="Helper" asp-items="Model.HelperTotal"></select>
            <div class="input-group-append">
                <p class="btn btn-outline-secondary">人</p>
            </div>
        </div>
    </div>
    <div class="form-group mb-1">
        <label><i class="fa fa-question-circle"></i><strong> 未交作业罚金（必填）：（<a href="#">现有<span style="color:yellow">0</span>枚</a> ） </strong></label>
        <div class="input-group input-group-combined">
            <div class=" input-group-prepend">
                <p class="btn btn-outline-secondary"><i class="fa fa-money"></i></p>
            </div>
            <input asp-for="Coin" type="text" class="form-control" placeholder="正整数，建议10枚以上">
            <div class="input-group-append">
                <p class="btn btn-outline-secondary">枚</p>
            </div>
        </div>
    </div>
    <p class="text-right mb-0"><a href="#"><i class="fa fa-question-circle"></i>如何获得“帮帮币”</a></p>
    <button type="submit" class="btn btn-primary">提交</button>
    <label class="checkbox-inline"><input type="checkbox" asp-for="Continue" value="true" />继续</label>
</form>
<hr />
