@page
@model luckstack3.selfdescriptionModel
@{
    ViewData["Title"] = "selfdescription";
    Layout = "_LayoutFromRegister";
}
@section style{
    <style>
        a {
            text-decoration: none
        }
        ol li {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        *{
            font-size:16px;
        }
    </style>
}
@section title{
    <i class="fa fa-header"></i>个人资料
}
@section Descirption{
    <ol>
        <li>头像仅接受jpg/png/gif格式，大小不超过256KB。</li>
        <li>头像图片的建议宽度为300像素左右，过宽或过窄都有可能失真。</li>
        <li>自我介绍的字数不要超过255字。</li>
    </ol>
}
<form class="col-md-4">
    <div class="form-group">
        <label><strong>头像：（* 仅限jpg/png/gif）</strong></label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">页面提交时上传文件</label>
        </div>
        <div>
            <label><strong>性别： </strong></label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">男</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">女</label>
            </div>
        </div>
        <div class="form-group">
            <label><strong>生日：</strong></label>
            <div class="input-group mb-3">
                <select class="form-control">
                    <option>----</option>
                    <option>2020</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">年</span>
                </div>
                <select class="form-control">
                    <option>----</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">月</span>
                </div>
                <select class="form-control">
                    <option>----</option>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>双子座</option>
                    <option>巨蟹座</option>
                    <option>狮子座</option>
                    <option>处女座</option>
                    <option>天秤座</option>
                    <option>天蝎座</option>
                    <option>射手座</option>
                    <option>摩羯座</option>
                    <option>水瓶座</option>
                    <option>双鱼座</option>
                </select>
                <div class="input-group-append">
                    <span class="input-group-text">星座</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label><strong>关键字：（* 使用空格分隔）</strong></label>
            <div class="input-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark">---1级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">编程开发语言</a>
                        <a class="dropdown-item" href="#">工具软件</a>
                        <a class="dropdown-item" href="#">顾问咨询</a>
                        <a class="dropdown-item" href="#">操作系统</a>
                    </div>
                    <button type="button" class="btn btn-outline-dark">---2级---</button>
                    <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">visual studio</a>
                        <a class="dropdown-item" href="#">eclipse</a>
                        <a class="dropdown-item" href="#">IDEA</a>
                        <a class="dropdown-item" href="#">Excel</a>
                        <a class="dropdown-item" href="#">Word</a>
                        <a class="dropdown-item" href="#">CAD</a>
                        <a class="dropdown-item" href="#">Photoshop</a>
                        <a class="dropdown-item" href="#">PowerPoint</a>
                    </div>
                </div>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label><strong>自我介绍：</strong></label>
        <textarea class="form-control" placeholder="简单的介绍一下自己吧，不超过255字" style="line-height:4;"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>

