@using ProductServices
<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="utf-8" />
    <meta name="=viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/FontAwesome/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/MyCss/MessageBell.css" />
    <title>@ViewData["title"]</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <style>
        * {
            font-size: small;
        }

        a {
            text-decoration: none;
        }
    </style>
    @RenderSection("style", false)

</head>


<body>
    <header class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <section class="row col-md-5 align-items-center">
                <a href="/"><img src="~/Img/一起帮主页logo左上角.png" style="margin-left:75px" /></a>
                <span class="h4 text-dark">一起帮</span>
                <span class="text-dark">· 网络互助平台</span>
                <a js-danceBell href="/Message/Mine" class="fa-2x fa fa-bell-o"></a>
            </section>
            <a class="navbar-brand" href="/"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.Partial("_Nav")
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row alert alert-secondary justify-content-lg-between" style="position:relative;top:43px;height:35px;padding:5px 20px;">
                <span><i class="fa fa-calendar" title="2020年3月4日 15:41:38"></i>文章<a href="#" class="text-muted">源栈培训：ASP.NET MVC：Route和MV... </a>被<a href="#" class="text-muted">陈百万</a>打赏<a href="#" class="text-muted"><i class="fa fa-jpy"></i>帮帮币</a>1枚</span>
                <a href="#"><i class="fa fa-hand-o-right"></i>全部消息</a>
            </div>
        </div>
        <vc:notice-model></vc:notice-model>
        @RenderBody()
    </main>

    <footer class="container">
        <hr />
        <div>
            <div>
                <a href="none">关于我们</a> |
                <a href="none">常见问题</a> |
                <a href="none">意见建议</a> |
                <a href="none">历史通知</a> |
                <a href="none" class="text-success">友情捐赠</a> |
                <a href="none">融资2018</a>
            </div>
            <div>
                <span>友情链接：</span>
            </div>
            <div class="float-md-right" style="padding-bottom:50px">
                <a href="none" class="">老王这里（备案）</a>© 2020 - 首顾科技
            </div>
        </div>
    </footer>
</body>
</html>
<script>
    $(document).ready(function () {
        var stopIntervalId = 0,
            stopTimeOutId = 0;

        function danceBell() {
            stopTimeOutId = setTimeout(function () {
                $.ajax({
                    url: '/Message/_New',
                    method: 'Get',
                    success: function (data) {
                        if (data) {
                            clearInterval(stopIntervalId);

                            stopIntervalId = setInterval(function () {
                                $('[js-danceBell]').toggleClass('danceBell');
                            }, 700);
                        } else {
                            clearInterval(stopIntervalId);
                            clearTimeout(stopTimeOutId);
                        }
                    },
                    error: function (a, b, c) {
                        console.log('some problem here');
                    }
                });

            }, 1000);
        }
        function clickDanceBell() {
            $('[js-danceBell]').click(function () {
                danceBell();
            });
        }
        danceBell();
        clickDanceBell();
    });
</script>