
@{
    ViewData["Title"] = "常见问题·一起帮";
    Layout = "~/Views/Shared/_LayoutSmallColumn.cshtml";
}

@section style{ }
@section Title{
    <i class="fa fa-list-alt"></i>常见问题
}

<div>
    <a href="none" class="lead"><i class="fa fa-question-circle"></i> 账户</a><br />
    <a href="/Account#ZQ1">Q：邀请码是怎么一回事？</a><br />
    <a href="/Account#ZQ2">Q：为什么会提示“邀请人数达到上限”？</a><br />
    <a href="/Account#ZQ3">Q：系统如何是确定“最后（上次）登录时间”的？</a><br />
    <a href="/Account#ZQ4">Q：“最后登录时间”有什么用处？</a><br />
    <a href="/Account#ZQ5">Q：邮箱有什么作用？</a><br />
    <a href="/Account#ZQ6">Q：为什么我收不到邮件通知？</a><br />
</div>




